.header {
  display: flex;
  justify-content: space-evenly;
  padding: var(--pad);
}

.main {
  display: flex;
  flex-direction: column;
  padding: calc(2 * var(--pad)) calc(5 * var(--pad));
}

.footer {
  display: flex;
  justify-content: flex-start;
  padding: var(--pad);
  align-self: flex-end;
}
