:root {
  --pad: 10px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: var(--pad);
}

.footer {
  display: flex;
  justify-content: flex-start;
  padding: var(--pad);
  align-self: flex-end;
}
